@import "../../Styles/variables.css";

.form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border: var(--border-light);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: 0 2px 5px var(--box-shadow-color);
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
  margin-bottom: var(--margin-bottom-default);
  padding: 0.75rem;
}

.input {
  width: 100%;
  padding-inline: 10px;
  border: var(--border-light);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-ease);
  box-shadow:
    1px 1px 0 0,
    2px 2px 0 0,
    3px 3px 0 0,
    4px 4px 0 0,
    5px 5px 0 0;
  border: 3px solid;
}

.input:focus {
  border-color: var(--primary-color);
}

.button {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  cursor: var(--cursor);
  transition:
    background var(--transition-duration) var(--transition-ease),
    transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25rem 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background: var(--primary-dark);
}

.button:active {
  background: #004095;
  border: none;
}
